@charset "utf-8";
/* CSS Document */
h1{ font-family: 'Bauhaus 93'; 
	color: white; 
}

h3 { font-family: 'Bauhaus 93'; 
	 color: white; 

}

h4{font-family: 'Bauhaus 93'; 
	 color: white;
}

h2 { font-family: 'Bauhaus 93'; 
	 color: white; 
}

p { font-family: 'Corbel Light'; 
	color: white; 

}

p1{ font-family: 'Corbel Light'; 
	color: white; 
}
p4 { font-family: 'Corbel Light'; 
	color: white; 
}
li { font-family: 'Corbel Light'; 
	 color: white; 

}

body {background-image: url("IMAGES/31100119088_a24f921995_b.jpg"); 

}
.box {
}
